html,
body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: #1f1f1f;
}

.ring {
  fill: none;
  stroke-dasharray: 720 180;
  stroke-linecap: round;
  stroke: #ff1251;
  stroke-width: 30px;
  animation: progress 3s linear normal infinite;
}
.left {
  transform: translate(100px, 0) rotate(90deg);
}
.right {
  transform: translate(100px, 200px) rotate(-90deg);
  animation-delay: 1.5s;
  animation-direction: reverse;
}

@keyframes progress {
  0%,
  10% {
    stroke-dashoffset: 100;
  }
  90%,
  100% {
    stroke-dashoffset: -900;
  }
}
